/* Write your CSS here */
@media (max-width: 768px) {
  .main-container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  .dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  .main-heading {
    font-size: 40px;
  }
  .button {
    background-color: #ffffff;
    color: #000000;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .main-container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  .dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  .main-heading {
    font-size: 40px;
  }
  .button {
    background-color: #ffffff;
    color: #000000;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
